doctype html
html
 head
  title Star's
  link(rel='stylesheet' type='text/css' href='../../../node_modules/normalize.css/normalize.css')
  link(rel='stylesheet' type='text/css' href='../../../node_modules/@blueprintjs/core/dist/blueprint.css')
body
  div(id='root')
  script(type='text/javascript' src='../js/bundle.min.js')
